
.header {
    background-color: #A03037;
    height: 60px;
    display: flex;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.logo-content {
    display: flex;
    flex-direction: row;
}

.logo-content-text {
    text-align: left;
    font: normal normal normal 20px/26px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-left: 6px;
}

.search-bar > input {
    height: 33px;
    width: 490px;
    border-radius: 3px;
    border: 0ch;
}

.cart-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cart-content-text {
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    opacity: 1;
}

.cart-content-logo {
    margin-left: 11px;
}